<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linyelai.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="UserPO">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <select id="findByUsername" resultMap="BaseResultMap">
        SELECT * FROM user where username= #{username}
    </select>

    <select id="findById" resultMap="BaseResultMap">
        SELECT * FROM user where id= #{id}
    </select>

    <insert id="addUser" parameterType="UserPO">
        insert into user(username,password,create_time,update_time)values(#{user.username},#{user.password},#{user.createTime},#{user.updateTime})
    </insert>

    <update id="updateUser" parameterType="UserPO">
        update user
        <set>
            <if test="password!=null">password=#{user.password}</if>
            <if test="update_time!=null">update_time=#{user.updateTime}</if>
        </set>
        where id =#{id}
    </update>

    <update id="deleteUser" parameterType="java.lang.Long">
        update user set deleted = 1 where id =#{id}
    </update>

</mapper>